core/src/main/resources/schema/grok-assembly.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="assembly">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="CompanyName"  minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="ProductName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="ProductVersion" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="Comments" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="FileDescription" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="FileName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="FileVersion" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="InternalName" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="OriginalFilename" minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="fullname" minOccurs="0" maxOccurs="1"/>
        <xs:element name="namespaces" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element type="xs:string" name="namespace"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="warning"  minOccurs="0" maxOccurs="1"/>
        <xs:element type="xs:string" name="error"  minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>